body{
    font-family: 'pretendard', sans-serif;
    line-height: 150%;
    padding: 12px 24px;
    flex-direction: column;
    background-color: black;
}

.back-btn {
  cursor: pointer;   /* 🔥 버튼 느낌 */
}

h1{
    font-weight: 500;
    font-size: 60px;
    color: #F97316;
    margin: 0 0 20px 0;
    line-height: 1.5;
}

.back h1{
    font-weight: 500;
    font-size: 60px;
    color: #969696;
    margin: 0;
    line-height: 1;
}

img {
    max-width: 100%;
    height: auto;
}
/* 🔥 핵심: 메인 이미지만 따로 */
.main-img {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 1500px;
}

.back-wrap {
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0 40px 0;
}
.back {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
     margin-left: auto; /* 🔥 이거 추가 */
}
.back h1:hover{
    color: #F97316;
    transition: color 0.1s ease-in-out;
}

.download-btn {
    text-decoration: none; /* 밑줄 제거 */
    color: #313131;          /* 글자색 */
    background: none;   /* 버튼 배경색 */
    font-size: 60px;
    font-weight: 500;
    display: inline-flex; /* 패딩 적용 */
    cursor: pointer;
    transition: color 0.1s ease-in-out;
}
.download-btn:hover {
    color: #fcfcfc;
}
/* 🔥 반응형 (이미지 패딩만 제어) */
@media (max-width: 1024px) {
    body {
        padding: 12px 16px; /* 전체 여백 살짝 줄임 */
    }
}

@media (max-width: 768px) {
    body {
        padding: 12px 12px; /* 모바일 */
    }

    h1 {
        font-size: 32px; /* 너무 큰거만 줄임 */
    }

    .download-btn,
    .back h1 {
        font-size: 32px;
    }
}